<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fullstack Go App</title>
</head>
<body>
    <h1>Hello World!</h1>
    <p>Following along with tutorial from <a href="https://auth0.com/blog/authentication-in-golang/" target="_blank">https://auth0.com/blog/authentication-in-golang/</a></p>
    <p>4.12.18: Left off at "Securing our Golang API with JSON Web Tokens</p>
</body>
</html>